// w.com --------------------------------- 
// greys 
$yellowgrey: #eae9df;
$grey: #bfbfbf;
$darkyellowgrey: #DDDCD7;
$bluegrey: #ACB5bb;
$darkbluegrey: #9CA6AD;
$coolgrey: #f0f0ff;
$darkgrey: #3a3a3a;
$slategrey: #51585E;

$flatred: #EA5555;
$yellow: #fef0b0;
$lightblue: #80CFEF;


// standard
$white: white;
$paper: #f1f1f1;

$controlFont: 18px;


$tablet: 750px;
$phone-tall: 350px;
$phone-wide: 500px;