@import "../_sassvars.scss";
@import 'compass';
$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

a { text-decoration: none; }
li {
    line-height: $base-line-height;
    font-size: $base-font-size;
    @media (max-device-width: $phone-wide), (max-width: $phone-wide){ 
      font-size: 2vh;
      line-height: 2.2vh; 
    }
    &.title {
     @include adjust-font-size-to(24px);
    }
    a {
    line-height: inherit;
    font-size: inherit;    
    }
}