<html>
<head>
<title>[[++site_name]] - [[*pagetitle]]</title>
  [[$head]]
  [[$flexagon]]
  <script type="text/javascript">
    $(document).ready(function(){
    $('#gallery').flexagon({margin:"90"});
    $('#gallery').flexagon('galToggle');
    // $(".fgThumb > img").attr("src") = $(".fgThumb > img").attr("src").replace(/s72/, "s180");
    // $(".fgThumb img").each(function(i, obj){
    //   var newstr = $(obj).attr("src").replace(/s72/, "s180");
    //   $(obj).attr("src", newstr);
    // });
// console.log(newstr);
    $(".fgThumb").click(function(){$(".article").fadeOut('slow'); $('.fgWrapper').show();});
    $('#thmbs').click(function(){$(".article").fadeIn('slow');});

    function infoToggle(tog){
                $('.fgInfo').attr("data", tog);
      switch (tog) {
                case 'init':
                  $('.fgInfo').mouseenter(function(){ 
                      $(this).css("opacity", 1);
                  });
                  $('.fgInfo').mouseleave(function(){ 
                    $(this).css("opacity", 0);
                  });
                  break; 
                case 1:
                    $('.fgInfo').css("opacity", 1);                    
                    $('.fgInfo').unbind("mouseleave");
                    break;                
                case 2:
                    $('.fgInfo').css("opacity", 0);
                    $('.fgInfo').mouseleave(function(){ 
                      $(this).css("opacity", 0);
                    });    
                    break;
                  }
    }
     infoToggle('init');
  

    $('.fgInfo').click(function(){
      if ($(this).attr("data") == 1) {
        infoToggle(2);
      }
      else {
        infoToggle(1);
      }
    });
  });

  </script>
</head>
<body id="flexagon_body">
  
<div class="article">

<div class="fgDrawer" id="fgDrawer">
      [[!getXML? &url=`[[!pcReplace? &url=`[[*picasaLink]]`]]` &root=`rss/channel/item` &tpl=`fgThumb`]]
</div>
<h1 class="title">[[*pagetitle]]</h1>
<div class="content">[[*content]]</div>
<!--END DRAWER  -->

</div>
<!-- / ARTICLE -->
<div class="fgWrapper" id="gallery">
      <!-- GALLERY  -->
    <div class="fgGallery">
        <!--  IMAGE -->
        <img class="fgDisplay" src="assets/images/flex/03.jpg">
    </div>
    <!--  / GALLERY-->
</div>
<!--  CONTROLS -->
 <div class="controls">
 <div id="control-wrapper">
   <div class="next" id="fgNext">&gt;</div>  
    <div id="thmbs">
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
  </div>
  <div class="previous" id="fgPrev">&lt;</div>

</div>
<!--   <div class="fullscreen">&nbsp;</div>
 -->  
 <!-- <div class="drawer-toggle">&nbsp;</div> -->
  <!-- <div class="description-toggle"><em>i</em></div> -->
</div>
<!-- / CONTROLS -->

<!-- TITLE CARD -->
<div class="titlecard">
  <div class="fgInfo" id="fgInfo">
      <div class="fgTitle">Navigate with arrow keys, the thumbnails below, or those buttons over there --&gt;</div>
      <div class="fgCaption">&nbsp;</div>
  <!--#TODO:: DOES THIS NEED TO BE INSIDE IMAGE DESCRIPTION-->
    </div>
</div>
  <div id="info-toggle">
  <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
  </div>
<!-- / TITLE CARD -->

</body>
</html>