<html lang="en">
<head>
   <title>Ním Wunnan</title>
[[$head]]
    <script type="text/javascript">
      $(document).ready(function(){ 
       $(".tab").click(navTog);
       $("#nav li a").click(navTog);       

        function navTog(){
        if ($('#nav').hasClass("open")){
          $('#nav').removeClass("open");
          $('.tab').removeClass("open");

        }
        else {
          $('#nav').addClass("open");          
          $('.tab').addClass("open");          
        }
      }
       
       $(".feed-link").click(function(){
        console.log('fbadf');
        $("#feeds").addClass('open');
        $("#feeds div.feed").hide();
        var target = $(this).html();
        $("#"+target+"-feed").show();
       });

// smooth scroll from https://css-tricks.com/snippets/jquery/smooth-scrolling/
    // $(function() {
    //   $('a[href*=#]:not([href=#])').click(function() {
    //     if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
    //       var target = $(this.hash);
    //       target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
    //       if (target.length) {
    //         $('html,body').animate({
    //           scrollTop: target.offset().top
    //         }, 1000);
    //         return false;
    //       }
    //     }
    //   });
    // });
  $('a[href^="#"]').on('click',function (e) {
      e.preventDefault();

      var target = this.hash;
      var $target = $(target);

      $('html, body').stop().animate({
          'scrollTop': $target.offset().top
      }, 900, 'swing', function () {
          window.location.hash = target;
      });
  });

    });   
    </script>
</head>
<body class="art_home" style="height: 928px;">
<header>
<a class="bug" href="#landing" id="site-description">
</a>
<div id="nav-wrapper">
  <ul id="nav" class="open">
    <li><a href="#art">Art</a> // </li>
    <!-- <li><a href="#synesthesia">Bi</a> // </li> -->
    <li><a href="#words">Words</a> // </li>
        <li><a href="#bio">Bio</a> // </li>
        <li><a href="#place-and-time">Snapshots</a> // </li>
    <!-- <li><a href="#dev">Web Production</a></li> -->
    <li><a href="#feeds">Curiosity</a> // </li>
    <li><a href="#social">Social</a></li>
    <!-- <li><a href="#friends">Friends</a></li> -->
  </ul>
 <div id="nav-toggle">
   <div class="tab open">Extended Navigation</div>
  </div>
</div>

<!--   <ul id="extra-nav">
   </ul>
 -->  
</header>
  <div id="page-wrapper">
    <section id="landing">

    </section>
  <section id="art">
      <div class="hero">
      <h1 id="lorem">
      Ním Wunnan</h1>
          <div id="menu">
          <div id="head">
<!--           <ul>
              <li><a href="cv">CV</a></li>
              <li><a href="bio">Bio</a></li>
              <li><a href="studio">Studio</a></li>
          </ul> -->
          </div>
            <ul style="padding-left:20px; width:32%;">
              <li class="title">Painting</li>
              <li><a href="[[~9]]">Rectangulectures</a></li>
              <li><a href="[[~12]]">Soft Marks</a></li>
              <li><a href="[[~11]]">Paint Landscaping</a></li>
              <li><a href="[[~16]]">Still Wet</a></li>
              <li><a href="[[~2]]">Obscured I</a></li>
              <li><a href="[[~6]]">Obscured II</a></li>
              <li><a href="[[~10]]">Obscured - Small</a></li>
              <li><a href="[[~14]]">Pictures of Superman</a></li>

          </ul>
           <ul style="padding-left:20px; width:32%;">
              <li class="title">Drawing</li>
              <li><a href="[[~13]]">Upsur Nova</a></li>
              <li class="title">Sculpture</li>
              <li><a href="[[~17]]">The Reliable Metaphysics of Everyday Life</a></li>
          </ul>
           <ul style="padding-left:20px; width:32%;">
              <li class="title">Installation</li>
              <li><a href="[[~7]]">Chamber 1</a></li>
              <li><a href="[[~8]]">Chamber 2</a></li>
              <li><a href="[[~5]]">The Space Between</a></li>
      <!--        <li><a href="#">Glasgow International</a></li>-->
          </ul>
      <!--    <ul>
              <li class="title">Curation</li>
              <li><a href="#">The Aspens</a></li>
              <li><a href="#">Body of Knowledge</a></li>
          </ul>-->
          </div>
      </div>
    </section>
    <section id="bio">
    <div>
    <p>I studied <a href="#art">painting</a> at <a href="http://www.gsa.ac.uk/" target="_blank">the Glasgow School of Art.</a> I keep a <a href="#">studio</a> in SE Industrial Portland, which is for rent when I travel.</p>
    <p>I founded this <a href="http://research-club.org/" target="_blank">Research Club</a> but definitely not <a href="https://www.theresearchclub.com/" target="_blank">this one.</a> <a href="http://twitter.com/researchclub"> I would love to talk to you about alternative education projects.</a></p>
      <p>
        I produce websites and projects with the brilliant delinquents at <a href="http://bletcheley.co">Bletchley Park.</a> I'm available to freelance.
      </p>
      <p>Before I did any of that, I worked in rare books for 7 years with some <a href="http://www.dawntreaderbooks.com/" target="_blank">wonderful</a> <a href="http://www.pirages.com/" target="_blank">people</a></p>
      <p>I've got a heavy case of <a href="http://www.thesynesthesianetwork.com/users/nim" target="_blank">synesthesia</a> and am working on a <a href="https://docs.google.com/document/d/1EsEUJHv_1CUvUTy34wVR1ECkqBpakKRsKEav9ZB_zto/edit#heading=h.nxi67yf5kimh" target="_blank">synesthesia starter kit</a> with the good people of <a href="http://www.reddit.com/r/Synesthesia/" target="_blank">r/Synesthesia</a>. Contributors welcome.</p>
      <p>I love Tai Chi and practice <a href="https://www.youtube.com/watch?v=2pu4Wic-YJ4" target="_blank">Sun</a> and <a href="https://www.youtube.com/watch?v=USJPmCZ6Efc" target="_blank">Chen Man Ching</a> style, often with the <a href="https://www.youtube.com/watch?v=S-eM1-3ew28" target="_blank">talented and patient folks</a> who meet in Laurlhurst Park in Portland, OR.</p>
      <p><a href="#social" class="contact">Get in touch</a></p>
      <a class="photo-credit" href="https://instagram.com/othrondir/" target="_blank">Photo by Alex Black</a>
    </div>

    </section>
    <section id="words">
      <div class="half">
        <h1>Nonfiction</h1>
        <h2><a href="https://medium.com/@nimwunnan/seeing-through-photographs-2133d9257678">Seeing Through Photographs</a></h2>
        <p>An essay about cameras and the things I pointed them at. The first of a series of essays about perception, images, and patterns that I will be posting on Medium in 2015.</p> 
       <h2><a href="https://medium.com/@nimwunnan/my-2-5-hours-at-the-2015-los-angeles-art-book-fair-da2cb96057af">LAABF</a></h2>
        <p>My 2.5 hours at the Los Angeles Art Book fair. The recap no one asked for.</p>
        <h1>Fiction</h1>
        <h2><a href="/assets/nancycreen.pdf">Nancy Drew and the Case of Writer's Block</a></h2>
        <p>Because why not write an existential Nancy Drew story. [pdf]</p>
  
        </div>
        <div class="half">
          <h1>Reviews</h1>
          <h2><a href="http://www.orartswatch.org/author/nim-wunnan/">Portland Dance</a></h2>
          <p>I've been reviewing dance and art for <a href="http://www.orartswatch.org" target="_blank">Oregon Artswatch</a> for a couple years now. I got to see <a href="http://www.orartswatch.org/dance-review-the-important-discomfort-of-maguy-marins-salves/">some</a> <a href="http://www.orartswatch.org/diavolo-rocks-the-stage/">good</a> <a href="http://www.orartswatch.org/dance-preview-allie-hankins-channels-her-inner-nijinsky/">stuff.</a></p>
          <h2><a href="http://www.orartswatch.org/nationale-art-gallery-sums-up-its-year/">Nationale is a special place</a></h2>
          <p>My friend May has been doing a bang-up job of curating and keeping shop in Portland.</p>
      </div>
    </section>
    <section id="place-and-time">
    <h1>Place and Time</h1>
    <div>
      <p><a href="[[~20]]">That time I went to LA</a></p>
      <p><a href="[[~19]]">That time we went to Crater Lake</a></p>
      <p><a href="[[~15]]">That time we went to Joshua tree</a></p>
    </div>
    </section>
    <section id="social">
    <div id="social-wrap">
      <div id="hr-wrap">
        <hr>
        <hr>
        <hr>
      </div>
      <div id="social-links">
        <a href="http://twitter.com/nimwunnan" id="twitter" target="_blank">Twitter</a>
        <a href="https://medium.com/@nimwunnan" id="medium" target="_blank">Medium</a>
        <a href="https://www.youtube.com/playlist?list=FLJPG0R63yENQk12C9cgTnfg" id="youtube" target="_blank">YouTube</a>
        <a href="http://www.metafilter.com/user/45324" id="metafilter" target="_blank">MetaFilter</a>
        <a href="https://instagram.com/middlefingerasaurus/" id="instagram" target="_blank">Instagram</a>
        <a href="http://nimwunnan.tumblr.com/" id="tumblr" target="_blank">Tumblr</a>      
      </div>
      <div id="hr-wrap">
        <hr>
        <hr>
        <hr>
      </div>
      </div>
      <h1>You can find me on<br> these internets</h1>
    </section>
    <section id="feeds">
    <div class="half" id="feed-tags">
      <h1>When I saw this I said </h1>
      <p><a href="#feeds" class="feed-link" >ha</a> -- <a href="#feeds" class="feed-link" id="wow-link">wow</a> -- <a href="#feeds" class="feed-link" id="good-link">good</a> </p>
    </div>
    <div class="half feed" id="wow-feed">
      [[!spieFeed? &setFeedUrl=`http://feeds.pinboard.in/rss/secret:b033bb0b394dfb0e3cb3/u:nimwunnan/t:wow/` &tpl=`feedTpl`]]
    </div>
    <div class="half feed" id="ha-feed">
      [[!spieFeed? &setFeedUrl=`http://feeds.pinboard.in/rss/secret:b033bb0b394dfb0e3cb3/u:nimwunnan/t:ha/` &tpl=`feedTpl`]]
    </div>
    <div class="half feed" id="good-feed">
      [[!spieFeed? &setFeedUrl=`http://feeds.pinboard.in/rss/secret:b033bb0b394dfb0e3cb3/u:nimwunnan/t:good/` &tpl=`feedTpl`]]
    </div>
    </section>
    
<div id="frame"></div>
  </div>



</body>
</html>