<html lang="en">
<head>
   <title>Ním Wunnan</title>
[[$head]]
    <script type="text/javascript">
      $(document).ready(function(){ 
    //     function positionHero() {
    //       var windHigh = $(window).height();
    //       var topMarge = windHigh*.35;
    //       $("body").height(windHigh-70);
    //       $("#hero").css("margin-top", topMarge);  
    //     };
    //     $(window).resize(function() {
    //     positionHero();            
    //     });
    //     positionHero();
      $(".tab").click(function(){$('#extra-nav').addClass("open");});
    });   
    </script>
</head>
<body class="art_home" style="height: 928px;">
<header>
  <ul id="nav">
    <li><a href="#art">Pictures</a> // </li>
    <li><a href="#synesthesia">Synesthesia</a> // </li>
    <li><a href="#words">Words</a> // </li>
    <li><a href="#dev">Web Production</a></li>
  </ul>
  <ul id="extra-nav">
    <li><a href="#bio">Bio</a> \\ </li>
    <li><a href="#feeds">Results of Curiosity</a> \\ </li>
    <li><a href="#social">How to Find Me</a> \\ </li>
    <li><a href="#friends">Friends</a></li>
   </ul>
  <div id="nav-toggle">
   <div class="tab">Extended Navigation</div>
  </div>
</header>
  <div id="page-wrapper">
    <section id="landing">

    </section>
  <section id="art">
      <div class="hero">
      <h1 id="lorem">
      Ním Wunnan</h1>
          <div id="menu">
          <div id="head">
          <ul>
              <li><a href="cv">CV</a></li>
              <li><a href="bio">Bio</a></li>
      <!--        <li>Words</li>-->
              <li><a href="studio">Studio</a></li>
          </ul>
          </div>
            <ul style="padding-left:20px; width:32%;">
              <li class="title">Painting</li>
              <li><a href="obscured-1">Obscured I</a></li>
              <li><a href="obscured-part-2">Obscured II</a></li>
              <li><a href="obscured-small">Obscured - Small</a></li>
              <li><a href="man-of-steel">Man of Steel</a></li>
          </ul>
           <ul style="padding-left:20px; width:32%;">
              <li class="title">Drawing</li>
              <li><a href="upsur-nova">Upsur Nova</a></li>
          </ul>
      <!--    <ul>
              <li class="title">Sculpture</li>
              <li><a href="#">The Reliable Metaphysics of Everyday Life</a></li>
          </ul> -->
           <ul style="padding-left:20px; width:32%;">
              <li class="title">Installation</li>
              <li><a href="chamber-i">Chamber 1</a></li>
              <li><a href="chamber-ii">Chamber 2</a></li>
              <li><a href="the-space-between">The Space Between</a></li>
      <!--        <li><a href="#">Glasgow International</a></li>-->
              
          </ul>
      <!--    <ul>
              <li class="title">Curation</li>
              <li><a href="#">The Aspens</a></li>
              <li><a href="#">Body of Knowledge</a></li>
          </ul>-->
          </div>
      </div>
    </section>
    <section id="dev">
      <h1>I make websites</h1>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <div id="dev-bottom"></div>
    </section>
    <section id="bio">
      
    </section>
    <section id="words">
      <h1>Nonfiction</h1>

      <h2><a href="https://medium.com/@nimwunnan/seeing-through-photographs-2133d9257678">Seeing Through Photographs</a></h2>
      <p>An essay about cameras and the things I pointed them at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam laoreet metus, id elementum tellus vulputate et.</p> 
      <h2><a href="https://medium.com/@nimwunnan/seeing-through-photographs-2133d9257678">Nancy Drew and the Case of Writer's Block</a></h2>
      <p>An essay about cameras and the things I pointed them at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam laoreet metus, id elementum tellus vulputate et. Mauris eros est, pulvinar vitae condimentum ac, laoreet tincidunt sem. Proin vel lacus mattis libero varius iaculis. Morbi rutrum porta tristique. Pellentesque pharetra vehicula ante, sed aliquam nibh condimentum ut. Morbi sapien sapien, convallis vitae aliquet eu, tempor nec purus. Quisque at dui quis turpis tempus facilisis non eget arcu. Cras rhoncus tincidunt lorem id pharetra. Morbi dignissim purus nec lacus convallis pretium.</p> 
     <h2><a href="https://medium.com/@nimwunnan/seeing-through-photographs-2133d9257678">Seeing Through Photographs</a></h2>
      <p>An essay about cameras and the things I pointed them at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam laoreet metus, id elementum tellus vulputate et.</p> 
      <h1>Fiction</h1>

      <h2><a href="https://medium.com/@nimwunnan/seeing-through-photographs-2133d9257678">Seeing Through Photographs</a></h2>
      <p>An essay about cameras and the things I pointed them at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam laoreet metus, id elementum tellus vulputate et. Mauris eros est, pulvinar vitae condimentum ac, laoreet tincidunt sem. Proin vel lacus mattis libero varius iaculis. Morbi rutrum porta tristique. Pellentesque pharetra vehicula ante, sed aliquam nibh condimentum ut. Morbi sapien sapien, convallis vitae aliquet eu, tempor nec purus. Quisque at dui quis turpis tempus facilisis non eget arcu. Cras rhoncus tincidunt lorem id pharetra. Morbi dignissim purus nec lacus convallis pretium.</p> 
     <h2><a href="https://medium.com/@nimwunnan/seeing-through-photographs-2133d9257678">Seeing Through Photographs</a></h2>
      <p>An essay about cameras and the things I pointed them at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam laoreet metus, id elementum tellus vulputate et.</p> 
      <h1>Reviews</h1>
      <h2><a href="https://medium.com/@nimwunnan/seeing-through-photographs-2133d9257678">Seeing Through Photographs</a></h2>
      <p>An essay about cameras and the things I pointed them at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam laoreet metus, id elementum tellus vulputate et. Mauris eros est, pulvinar vitae condimentum ac, laoreet tincidunt sem. Proin vel lacus mattis libero varius iaculis. Morbi rutrum porta tristique. Pellentesque pharetra vehicula ante, sed aliquam nibh condimentum ut. Morbi sapien sapien, convallis vitae aliquet eu, tempor nec purus. Quisque at dui quis turpis tempus facilisis non eget arcu. Cras rhoncus tincidunt lorem id pharetra. Morbi dignissim purus nec lacus convallis pretium.</p> 

    </section>
    <section id="feeds">
      <h1>When I saw this I said </h1>
      <p><a href="#">Ha!</a> -- <a href="#">Wow</a> -- <a href="#">Good</a></p>

    </section>
    
    <!-- /#art  -->
<div id="frame"></div>
  </div>



</body>
</html>