* html {
  font-size: 100%; }

html {
  font-size: 16px;
  line-height: 1.5em; }

a {
  text-decoration: none; }

li {
  line-height: 24px;
  font-size: 16px; }
  @media (max-device-width: 480px), (max-width: 480px) {
    li {
      font-size: 2vh;
      line-height: 2.2vh; } }
  li.title {
    font-size: 1.5em;
    line-height: 2em; }
  li a {
    line-height: inherit;
    font-size: inherit; }
