#page-wrapper
  position: fixed
  overflow: auto
  section
    background-attachment: fixed
    background-position: center 40%
    background-repeat: no-repeat
    background-color: transparent
    height: 100vh