body
  padding: 0px 35px
  background-color: $yellowgrey

header
  border-top: 35px solid $yellowgrey
  position: fixed
  width: 100%
  top: 0px
  z-index: 15000
  // font-family: "Lato", sans-serif
  font-weight: bold
  a.bug
    background: transparent url(../images/wbug.png) 10px 10px no-repeat
    @include image-2x("../images/wbug@2x.png", 75px, 54px)
    float: left
    height: 75px
    min-width: 83px
    &:hover
      background-position: 12px 12px
    p 
      display: none
  #nav-wrapper
    float: right
    margin-top: -1px
    ul
      font-family: "Ropa Sans", Helvetica, sans-serif
      float: right
      margin-right: 70px
      width: 250px
      padding: 15px 20px
      // margin-top: -75px
      li
        color: $white
        float: left
        padding: 0px 5px 0px 0px
        a 
          color: $white
          &:hover
            color: $flatred
    #nav 
      +transition-property(max-height)
      +transition-duration(.2s)
      max-height: 0px
      overflow: hidden
      padding: 0px 20px
      clear: both
      &.open
        max-height: 300px
        padding: 15px 20px

    #nav-toggle 
      float: right
      margin-right: 70px
      width: 250px
      clear: both
      padding: 0px 20px
      border-top: 1px solid $yellowgrey
      // margin-top: -75px
      &:hover
        border-top: 1px solid $flatred
      .tab 
        cursor: pointer
        width: 100%
        background: transparent url(../images/tab.png) center -51px no-repeat
        @include image-2x("../images/tab@2x.png", 31px, auto)
        float: left
        height: 25px
        font-size: 0px
        &.open
          background-position: center -77px      
        &:hover
          background-position: center top
          &.open
            background-position: center -26px      



#page-wrapper
  overflow: auto
  padding-top: 35px
  section
    background-attachment: fixed
    background-position: center 40%
    background-repeat: no-repeat
    background-color: transparent
    height: 100vh
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    overflow: auto
    div.hero
      padding-top: 350px
  .half
    float: left
    width: 50%
    box-sizing: border-box

#frame
  position: fixed
  height: 35px
  width: 100%
  z-index: 14999
  margin: 0px
  bottom: 0px
  background: $yellowgrey

