#page-wrapper
  #landing
    background-image: url(../images/tripplepalm.jpg)
  #art
    background-image: url(../images/hotel-ink-bg.jpg)
  #bio
    background-image: url(../images/headshot.jpg)
    // background-size: 60%