#page-wrapper
  font-family: "Lato", Helvetica, sans-serif
  p
    font-size: 1.2em
    line-height: 1.4em
  a
    // &:visited
    // color: $bluegrey
  #landing
    background-image: url(../images/tripplepalm.jpg)
  #art
    background-image: url(../images/hotel-ink-bg.jpg)
  #bio
    background-image: url(../images/headshot.jpg)
    height: auto
    // background-size: 60%
    div
      // font-family: "Ropa Sans", Helvetica, sans-serif
      background-color: transparent
      border: 1px solid $lightblue
      float: left
      padding: 15px
      width: 40%
      margin: 20vh 30% 100vh
      color: $darkgrey
      font-weight: 600
      font-style: italic
      p 
        padding: 10px 15px
        background-color: $flatred
        border-left: 1px solid $darkgrey
        border-right: 1px solid $darkgrey

      a
        text-decoration: none
        color: $yellowgrey
        &:hover
          color: $lightblue
      .contact
        color: $lightblue
        &:hover
          color: $white
  #words
    // background-image: url(../images/werds.png)
    padding: 250px 90px 100px
    @media (min-width: $phone-tall)
      padding: 100px 10px 10px
    color: $darkgrey
    height: auto
    overflow: auto
    // -webkit-column-count: 2 /* Chrome, Safari, Opera */
    // -moz-column-count: 2 /* Firefox */
    // column-count: 2
    // -webkit-column-rule: 1px dashed $darkyellowgrey
    // -moz-column-rule: 1px dashed $darkyellowgrey
    // column-rule: 1px dashed $darkyellowgrey
    // column-fill: auto

    
    h2, h1
      font-family: 'Abril Fatface', cursive
      line-height: 2em
    h1
      font-size: 3.5em
      background-color: $bluegrey
      color: $yellowgrey
      width: 100%
      text-indent: 20px

    h2
      font-size: 1.8em
      margin: 10px 0px
      border-bottom: 1px dashed $darkyellowgrey
      border-top: 1px dashed $darkyellowgrey
      display: inline-block
      width: 100%

      a
        color: $flatred
        &:hover
          color: $lightblue
    p
      padding-left: 10px
      font-family: 'PT Serif', serif
      font-size: 1.1em
      display: inline-block
      width: 100%
      line-height: 1.5em
  #feeds
    background-color: $darkbluegrey
    font-family: 'Lato', sans-serif
    font-weight: 900
    padding: 200px 25px
    color: $bluegrey
    &.open
      height: auto
      overflow: auto
    .feedLink.spie-odd-row
      background-color: $bluegrey
    div.half
      &.feed
        display: none  
    h1
      font-size: 3.6em
      line-height: 1.8em
      margin: 10px 0px
      text-transform: uppercase
    p
      font-weight: 700
      padding: 10px

    a
      color: $flatred
      padding: 4px
      font-size: 2em
      line-height: 1.6em
      text-transform: capitalize
      &:hover
        background-color: $yellowgrey

  #social
    background-color: $slategrey
    font-family: "Ropa Sans"
    text-align: center
    #social-wrap
      float: left
      // height: 65vh
      padding-top: 15vh
      width: 100%
      box-sizing: border-box
      a
        color: $yellowgrey
        clear: both
        padding: 15px
        text-decoration: none
        font-size: 5vh
        &:hover
          color: $flatred
      hr 
        border-top: 1px solid #626D76
        border-bottom: 1px solid #43484C
      #hr-wrap
        width: 100%
        float: left
        box-sizing: border-box
    h1
      color: $slategrey
      padding: 5px
      font-size: 5vh
      float: left
      width: 100%
      // height: 35vh
      // background-color: $flatred
      // padding: 10vh 15px 0
      text-align: center
      text-shadow:   -1px -1px 0 $flatred,  1px -1px 0 $flatred, -1px 1px 0 $flatred, 1px 1px 0 $flatred 
      text-transform: uppercase
      font-family: "Lato", sans-serif
      font-weight: 900  
      
    #social-links
      float: left
      width: 100%
      text-align: center
      padding: 20px 30%
  #place-and-time
    background-image: url(../images/beached-rock-nostalgic.jpg)
    div
      width: 100%
      text-align: center
      padding: 10%
      a 
        color: $darkbluegrey
        font-family: "Lato", sans-serif
        font-weight: 800
        text-transform: small-caps
        &:hover
          color: $lightblue
    h1
      font-family: 'Abril Fatface', cursive
      font-size: 4em
      color: $flatred
      width: 100% 
      margin-top: 10vh 
      text-align: center 
      padding: 25px 0px
      border-bottom: 1px dashed $darkbluegrey
