#art div {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible; }
  #art div#menu {
    border-top: 1px solid #eae9df; }
#art #lorem {
  /*font-family: DIN, Helvetica, san-serif; 
  color: rgb(52, 57, 80); 
  
  border-top: 1px solid rgb(52, 57, 80); 
  text-align: center;  
  font-size: 60px; 
  font-weight: lighter; 
  padding: 20px;
  margin: 0px;
  margin-top: -2px;*/
  font-family: 'Ropa Sans', Helvetica, san-serif;
  color: transparent;
  text-align: center;
  font-size: 60px;
  font-weight: lighter;
  padding: 60px 0px 20px;
  margin: 0px;
  margin-top: -2px;
  text-shadow: -7px 0px 3px #ea5555; }
  #art #lorem:hover {
    text-shadow: -7px 0px 1px #ea5555; }
#art #secondunder {
  margin-top: 0px;
  border-top: 1px solid #4d3b3b;
  padding: 0px; }
#art #head {
  float: left;
  width: 100%;
  padding: 10px 0px 0px;
  border-top: 1px solid #eae9df;
  border-bottom: 1px solid #eae9df;
  margin-bottom: 10px; }
  #art #head ul {
    float: left;
    width: 100%;
    height: 20px;
    margin-bottom: 12px; }
    #art #head ul li {
      text-align: center;
      float: left;
      width: 33%; }
#art ul {
  float: left;
  width: 31%;
  height: 140px;
  padding-left: 1%; }
  #art ul li {
    list-style: none;
    color: whitesmoke;
    font-family: 'Ropa Sans', Helvetica, san-serif;
    font-weight: 100; }
    #art ul li .title {
      font-weight: bold; }
  #art ul a {
    color: #eae9df; }
    #art ul a:hover {
      color: #ea5555;
      cursor: pointer; }
